/* Globale CSS-ting */
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #1C1C1C;
	color: #808080;
}

h3 {
	color: green;
}

a {
	color: red;
}
/* Banner */
#header {
    text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
    background-color: #000000;
}
#header a {
	color: white;
}
/* Navbar */
#menu {
	height: 40px;
	width: 84%;
    font-family: arial, sans-serif;
	font-size: 200%;
}
#menu a {
	text-decoration: none;
	color: #ffffff;
}
#menu ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding:0;
}
#menu ul:after {
    content: "";
    clear: both;
    display: block;
}
#menu li{
    width:24.75%;
    float:left;
    line-height: 40px;
}
#menu > ul > li {
    /*border-right: solid 2px red;
    border-top: solid 1px red;
    border-bottom: solid 1px red;*/
}

#menu ul li:hover > a {
	color: #ffa500;
}
#menu ul ul {
	display: none;
}
#menu ul li:hover > ul {
	display: block;
}
#menu ul ul li {
	border-left: 2px solid red;
	display: list-item;
	background-color: black;
    width: 100%;
}

.form-group i {
	color: #1C1C1C !important;
}

#usernameBox {
	width: 15%;
	position: fixed;
	top:0;
	right: 0;
}
#content {
	margin: 50px auto auto;
	width: 66%;
	max-width: 700px;
    font-family: arial, sans-serif;
    text-align:center;
}
.panel-default {
	background-color: #333333;
	border-color: #000000 !important;
}
.panel-default > .panel-heading {
	color: #228b22 !important;
	background-color: #1C1C1C !important;
	border-color: #000000;
}
.panel-default > .panel-footer {
	background-color: #1C1C1C !important;
	border-color: #000000;
}
.postFooter {
    font-size: 14px;
    color: gray;
}

