/* Globale CSS-ting */
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #1C1C1C;
	color: white;
}
a {
	text-decoration: none;
	color: #ffffff;
}

h3 {
	margin-top:20px;
	margin-bottom: 10px;
	color: green;
}
/* Banner */
#header {
    text-align: center;
	margin: auto;
    background-color: #191919;
    padding-bottom: 5px;
}
#header h1 {
    font: bold 100px times;
}
#header p {
	padding: 0 0 0 15px;
	font: bold 14px arial;
	text-transform: uppercase;
	color: green;
}
/* Navbar */
#menu {
	height: 40px;
	width: 100%;
    background-color: #191919;
    font-family: arial, sans-serif;
}
#menu ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding:0;
}
#menu ul:after {
    content: "";
    clear: both;
    display: block;
}
#menu li{
    width:24.75%;
    float:left;
    font-size: 14px;
    line-height: 40px;
}
#menu > ul > li {
    border-right: solid 2px red;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
}
#menu p {
    text-align: center;
}
#menu ul li:hover {
	background-color: orange;
}
#menu ul ul {
	display: none;
}
#menu ul li:hover > ul {
	display: block;
}
#menu ul ul li {
	border-left: 2px solid red;
	display: list-item;
	background-color: black;
    width: 100%;
}





#content {
	width: 66%;
	margin: auto;
    font-family: arial, sans-serif;
}
.post {
    width:66%;
    font-size: 18px;
}
.postFooter {
    font-size: 14px;
    color: darkgray;
}
